/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom buttons */
#itemSelect,
#quantityInput,
.custom-remove-button,
#itemSelect option,
#blackMarketQuantityInput,
#sellableQuantityInput,
#blackMarketItemSelect,
#sellableItemSelect,
#addToCartButton,
#addToBlackMarketCartButton,
#addToSellableCartButton,
#itemSelect:focus {
  background-color: #ffffff80;
  border: 0.05rem solid #220e0e;
  color: #333;
  border-radius: 7px;
  text-shadow: none;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}


/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 6px; /* Round the edges of the thumb */
}

/* Customize the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}

/* Customize the scrollbar track when hovered */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

/* Customize the scrollbar track when the thumb is hovered */
::-webkit-scrollbar-track:hover {
  background-color: #ddd; /* Color of the track on thumb hover */
}


/*
 * Base structure
 */
ul {
  list-style: none;
}

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

h3 {
  font-size: large;
}

#sellableQuantityInput, #blackMarketQuantityInput, #quantityInput {
  width:60px;
}

#itemSelect, #sellableItemSelect, #blackMarketItemSelect {
  width: 230px;
}

#cartList {
  max-height: 20vh;
  overflow: auto;
}

.cover-container {
  max-width: 75em;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row; /* Set the flex direction to horizontal */
  justify-content: space-between; /* Add space between buttons */
  align-items: flex-start; /* Align items at the top of the container */

}

#rulesAccordion {
max-height: 500px;
overflow: auto;
}

main .blob {
  position: absolute;
  top: 5rem;
  left: 3rem;
  box-shadow: 0 0 1000px 50px #fff;
  z-index: -100;
}

.accordion {
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px;
  flex: 1; /* Distribute available space equally among buttons */
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  display: inline-block; /* Display buttons inline */
  box-sizing: border-box; /* Include padding and border in the width */
}

.accordion-body{
  box-sizing: border-box;
  background-color:#0f020240;
  border-radius: 7px;
}

.accordion-button {
  background-color: #5e5c5c80;
  border-radius: 5px;
  color: white; /* Add text color to make it visible on dark background */
  height: 30px;
  display: flex; 
  align-items: left; 
  justify-content: space-between; /* Add space between text and icon */
  cursor: pointer;
  font-size: 18px;
  transition: 0.6s;
  outline: none;
}

.accordion.active {
  background-color: #220e0e;
}

.panel {
  display: none;
  flex: 3; /*Occupy more space for panel content */
  box-sizing: border-box; /* Include padding and border in the width */
  overflow: auto; /* Enable scrolling */
  max-height: 200px; /* Set a maximum height for the panel */
}

.panel ul {
  list-style-type: decimal;
  margin-left: 5px;
}

.panel li {
  margin-bottom: 5px;
}

/*
 * Header
 */
.masthead {
  display: flex;
  justify-content: center; /* Arrange items at both ends of the container */
}

.masthead-brand {
  margin-bottom: 0;
  order: 1;
}

.nav-masthead {
  order: 3;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead {
    flex-direction: row; /* Ensure horizontal layout */
    align-items: center; /* Center items vertically */
  }
  .masthead-brand {
    float: none; /* Remove floating */
    order: 1; /* Keep the site name to the left */
  }
  .nav-masthead {
    float: none; /* Remove floating */
    order: 2; /* Keep the navigation links to the right */
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: #ffffff80;
}

.hidden {
  display: none;
}

.alert {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
